*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.hero {
  background: url('../images/homeview-hero.jpg');
  min-height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 50px 120px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-header-lg {
  font-size: 8rem;
  font-family: 'Nunito Sans', sans-serif;
}

.hero-header-sm {
  font-size: 3rem;
  font-family: inherit;
  max-width: 400px;
  font-weight: 600px;
}

.container {
  padding: 100px 50px;
}

.listing {
  display: grid;
  grid-template-columns: repeat(4, 330px);
  grid-gap: 30px;
  justify-content: center;
  margin-bottom: 40px;
}

.card-wrapper {
  max-width: 330px;
}

.card {
  width: 100%;
  box-shadow: 0 7px 30px -10px rgba(150, 170, 180, 0.5);
  border-radius: 5px;
  min-height: 400px;
}

.card .image-wrapper {
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
}

.card .image-wrapper:hover .image {
  transform: scale(1.2);
  transition: transform 400ms ease-in;
}

.card .image {
  transition: transform 400ms ease-out;
}

.home-details {
  padding: 15px;
  color: #212529;
  font-family: 'Open Sans', sans-serif;
}

.homeowner,
.price {
  font-family: 'Nunito Sans', sans-serif;
}

.homeowner {
  font-size: 2rem;
  font-weight: 600;
}

.address {
  font-family: inherit;
  font-weight: 600;
  font-size: 1.3rem;
  margin-top: 5px;
}

.price {
  color: #5c68f3;
  font-size: 1.8rem;
  margin-top: 20px;
  font-weight: 600;
}

.error-message-wrapper {
  text-align: center;
  font-family: inherit;
}

.error-message {
  font-size: 2rem;
  color: #ff0033;
}

.btn {
  font-family: inherit;
  font-size: 1.5rem;
  min-width: 150px;
  min-height: 48px;
  border-radius: 5px;
}

.btn.primary {
  background: #5c68f3;
  color: #ffffff;
}

.btn.transparent {
  background: transparent;
  color: #212529;
}

.btn.refresh-list {
  margin-top: 20px;
}

.btn.sort-button {
  min-width: unset;
  padding: 10px;
  cursor: pointer;
  color: #5c68f3;
}

.content-loader .image-placeholder {
  width: 100%;
  height: 100%;
}

.content-loader .image-placeholder,
.content-loader span {
  background: rgba(129, 145, 152, 50%);
  display: block;
  animation-name: shimmerEffect;
  animation-duration: 700ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.content-loader .homeowner {
  height: 27px;
}

.content-loader .address {
  height: 18px;
}

.content-loader .price {
  height: 24px;
}

@keyframes shimmerEffect {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.6;
  }
}

.sort-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 30px;
  padding: 0 80px;
}

.sort-header-title {
  font-size: 1.6rem;
}

.sort-btn-group {
  position: relative;
}

.divider {
  height: 20px;
  width: 1.8px;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
  background: rgba(33, 37, 41, 0.4);
  position: absolute;
  left: 105px;
  top: 15px;
}
